---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BlogList from "../components/BlogList.astro"
import Pagination from "../components/Pagination.astro"
import { slugify } from '../scripts/slugify';
import { sortByDateDesc } from '../scripts/sortByDate';


export async function createCollection() {
const title = "Joshuas Gedanken"
const description = "Gedanken, Workflows und Ideen. Einfach Dinge, über die ich schreiben möchte."
const currentRoute = "/blog"


const allBlog = await Astro.fetchContent("../content/Blog/*.md");
const formattedBlogposts = allBlog.map(project => ({
    ...project,
    slug: slugify(project.title),
})).sort(sortByDateDesc)

return  {
    paginate: true,
    route: `${currentRoute}/:page?`,
    async props({ paginate }) {
      return {
        posts: paginate(formattedBlogposts, {pageSize: 1}),
        title,
        description,
        currentRoute
      }
    },
    rss: {
      title: title,
      description: description,
      customData: `
      <language>de-DE</language>
      <author>
        <name>Joshua Stübner</name>
        <email>jshsj@hey.com</email>
      </author>
      `,
      item: (item) => {
        return {
        title: item.title,
        description: item.astro.html,
        pubDate: item.date,
        link: `/post/${item.slug}`,
        customData: `<id>${Astro.site}post/${item.slug}</id>`
        }
      }
    }
  }
}

const {posts, title, description, currentRoute} = Astro.props;

---
<head>
  {posts.url.prev && <link rel="prev" href={posts.url.prev} />}
  {posts.url.next && <link rel="next" href={posts.url.next} />}

  <link
    rel="alternate"
    type="application/rss+xml"
    title={title + ' | RSS Feed'}
    href="/feed/blog.xml"
  />

</head>

<DefaultLayout title={title} description={description} canonical={Astro.request.canonicalURL}>
<div class="section layout-container | mt-header">
  <div class="stack -layout-xl w-full">
    <h1 class="section-title -with-dot -dot-top">Blog</h1>

    <BlogList blogPosts={posts.data}></BlogList>
    <Pagination current={posts.page.current} last={posts.page.last} next={posts.url.next} prev={posts.url.prev} basePath={currentRoute}></Pagination>

    <div class="box -layout-m bg-surface2 flow">
    <p>Möchtest du mitkriegen, wenn es was neues gibt?</p>
    <p><a href="/feed/blog.xml">RSS Feed</a></p>
    </div>


    </div>
</div>
</DefaultLayout>


