---
const { collection } = Astro.props;
import { Markdown } from 'astro/components';

import { slugify} from "../scripts/slugify"
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

import circle from '../components/Circle.astro';

import IconPageLink from "../components/icons/Icon-PageLink.astro"

export async function createCollection() {
const allProjects = await Astro.fetchContent("../content/Projekte/*.md");

  return  {
    routes: allProjects.map((p, i) => {
      return {slug: slugify(p.title), index: i}
    }),
    permalink: ({params}) => `/projekte/${params.slug}`,
    async data({ params }) {
      return allProjects[params.index];
    },
  }
}

const projectCrumbs = [{
  url: "/projekte",
  name: "Projekte"
}]
---
<style>
dl {
  padding-block: var(--s1);
  border-top: var(--border-thin) solid var(--text1);
  border-bottom: var(--border-thin) solid var(--text1);
}
</style>


<DefaultLayout>
<div class="layout-container mt-header">
  <div class="stack -layout-xl">
  <div>
    <Breadcrumbs crumbs={[
    ...projectCrumbs,
    {
      name: collection.data[0].title,
      url: `/projekte/slug`
    }
    ]}></Breadcrumbs>
    <h2 class="typo-hollow typo-3xl -bold -with-dot -dot-top" data-aside>
    <span>
    {collection.data[0].title}
    </span>
    </h2>
    </div>
    <dl>
      <dt>Beschreibung: </dt>
      <dd>
      {collection.data[0].description}
      </dd>
      <dt>Tech Stack: </dt>
      <dd>
      {collection.data[0].techstack}
      </dd>
      <dt>URL: </dt>
      <dd>
      <a href={collection.data[0].url} target="_blank" rel="noopener norefferer">{collection.data[0].url}</a>
      </dd>
      <dt>Jahr: </dt>
      <dd>{collection.data[0].year}</dd>
    </dl>
    {JSON.stringify(collection)}
    <div class="flow -layout-m">
      <Markdown content={collection.data[0].astro.html}>
      </Markdown>



</div>
    </div>
</div>
</DefaultLayout>
