---
import { Markdown } from 'astro/components';

import { slugify} from "../scripts/slugify"
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import SidebarNav from "../components/SidebarNav.astro";

import IconPageLink from "../components/icons/Icon-PageLink.astro"

export async function createCollection() {
const allProjects = await Astro.fetchContent("../content/Projekte/*.md");
const projectsWithSlugs = allProjects.map(p => ({
  ...p,
  slug: slugify(p.title),
}))
  return  {
    route: `/projekte/:slug`,
    paths() {
      return projectsWithSlugs.map(p => ({
        params: {
          slug: p.slug,
        }
      }))
    },
    async props({ params }) {
      return { project: projectsWithSlugs.find(p => p.slug === params.slug)}
    }
  }
}

const { project, slug } = Astro.props;

const projectCrumbs = [{
  name: "Projekte",
  url: "/projekte"
},
  {name: project.title,
  url: `/projekte/${project.slug}`}
]
---
<style>
dl {
  padding-block: var(--s1);
  border-top: var(--border-thin) solid var(--text1);
  border-bottom: var(--border-thin) solid var(--text1);
}
</style>


<DefaultLayout title={project.title} description={project.description} canonical={Astro.request.canonicalURL}>
<div class="layout-container mt-header">
  <SidebarNav headers={project.astro.headers}></SidebarNav>
  <div class="stack -layout-xl">
  <div>
    <Breadcrumbs crumbs={projectCrumbs}></Breadcrumbs>
    <h2 class="typo-hollow typo-3xl -bold -with-dot -dot-top" data-aside>
    <span>
    {project.title}
    </span>
    </h2>
    </div>
    <dl>
      <dt>Beschreibung: </dt>
      <dd>
      {project.description}
      </dd>
      <dt>Tech Stack: </dt>
      <dd>
      {project.techstack}
      </dd>
      <dt>URL: </dt>
      <dd>
      <a href={project.url} target="_blank" rel="noopener norefferer">{project.url}</a>
      </dd>
      <dt>Jahr: </dt>
      <dd>{project.year}</dd>
    </dl>
    <div class="flow">
      <Markdown content={project.astro.html}>
      </Markdown>



</div>
    </div>
</div>
</DefaultLayout>
