---
import {Navigation} from "@config"
const {blogPosts} = Astro.props;
---

<style lang="scss">
.blogPost {

  .meta {
    line-height: 1;
    align-items: center;
  }

  .tags {
    --gap: var(--s-3);
    align-items: baseline;
    font-size: var(--s-1);
    color: var(--text2);
  }

  .tag {
    display: block;
    color: var(--text2);
    --fontWeight: var(--fontWeightMedium);
  }

  .lang {
    color: var(--text1);
    --fontWeight: var(--fontWeightRegular);
    border: 1px solid var(--text1);
    padding: var(--s-5);
  }

}
</style>

<ul class="list-reset stack -layout-xl w-full">
{blogPosts.map((blogPost, postIndex) => (
    <li class="stack | blogPost">
      <article class="stack -layout-3xs">
          <a href={`${Navigation.blogPost.url}/${blogPost.slug}`}><h2 class="typo-xl -medium">
          {blogPost.title}</h2>
          </a>
          <p>
          {blogPost.description}</p>
          <div class="cluster typo-s -layout-3xs | meta">
          <span class="lang">{blogPost.lang.toUpperCase()}</span>
          <time class="date">vom {new Date(blogPost.date).toLocaleDateString()}</time> - <div class="cluster | tags"><span>Es geht um: </span>{blogPost.tags.map((tag, i) => (
            <span class="tag">{tag}{i !== blogPost.tags.length - 1 && ','}</span>
          ))}
          </div>
          </div>
          </article>
        {postIndex !== blogPosts.length - 1 && (<hr />)}
        </li>
      ))}
</ul>
