---
import FurtherQuestions from "./FurtherQuestions.astro"
import FooterCat from "./FooterCat.astro"
import {Navigation} from "@/config/index.ts"
import { getTranslation } from "@/intl/getTranslation"
import DE from "@/public/translations/de.json"

const NavItemsLeft = [
  Navigation.start,
  Navigation.projects,
  Navigation.blogStart,
  Navigation.zeug,
  Navigation.inZahlen,
  Navigation.devBlog
]

const NavItemsRight = [
  Navigation.imprint,
  Navigation.dataPolicy
]

---
<style>
footer {
  width: 100%;
  z-index: 999;
  border-top: var(--border-thick) solid var(--color-text-1);
  position: relative;
  margin-top: var(--size-relative-4xl);
  padding-bottom: var(--size-relative-xl);
}

.footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}

.footer-cat {
  position: absolute;
  top: 0;
  width: var(--size-relative-3xl);
  font-size: var(--font-size-xl);
  height: auto;
  transform: translateY(-100%);
  right: 0;
}
</style>

<footer>
  <div class="section layout-container">
  <div class="footer-cat">
    <FooterCat></FooterCat>
  </div>
  <div class="stack -layout-xl">

  <FurtherQuestions></FurtherQuestions>

  <nav class="footer-container">
    <ul class="list-reset -layout-m">
      {NavItemsLeft.map(item => (
        <li><a href={item.url} data-translate={item.name}>{getTranslation(item.name, DE)}</a></li>
      ))}
    </ul>
    <ul class="list-reset -layout-m">
      {NavItemsRight.map(item => (
        <li><a href={item.url} data-translate={item.name}>{getTranslation(item.name, DE)}</a></li>
      ))}
    </ul>
  </nav>
  </div>
  </div>

</footer>
