---
import FurtherQuestions from "./FurtherQuestions.astro"
import {Navigation} from "@/config/index.ts"

const NavItemsLeft = [
  Navigation.start,
  Navigation.projects,
  Navigation.blogStart,
  Navigation.zeug,
  Navigation.inZahlen
]

const NavItemsRight = [
  Navigation.imprint,
  Navigation.dataPolicy
]

---
<style lang="scss">
footer {
  width: 100%;
  z-index: 999;
  border-top: var(--border-thick) solid var(--text1);
  position: relative;
  margin-top: var(--s5);
  padding-bottom: var(--s3);
}

.footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}

.footer-cat {
  position: absolute;
  top: 0;
  width: var(--s5);
  height: auto;
  transform: translateY(-103%);
  right: 0;

  > svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

</style>

<footer>
  <div class="section layout-container relative">
  <div class="footer-cat">
  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 557 411"><path d="M56 380.5c11.2-9.6 13.667-87.5 9-120-1.833-27-15.5-73.6-19.5-86-5-15.5 7-53.5-39.5-71.5-5.971-2.311-3.5-26-5-33s18.4-12 26.711-25.297c5.634-9.014 39-19 59-13s36.5 37.5 39 46S141 141 189.5 160c31.876 12.487 130.5 132.5 164 220.5 67.667-3 203-5.6 203 8 0 17-207.941 9.126-218.5 14-13 6-144.5-4.5-160.5 0-12.8 3.6-48.667-74.833-65-114.5-.333 35.5-10.5 103.3-18.5 114.5-8 11.2-29 6-48.5 6-1.166-5.333-.7-18.4 10.5-28z" fill="var(--text1)"/><path d="M44 1.5L55.5 39 86 41.5S90 32 83.5 25C79.92 21.145 57.667 6.333 44 1.5z" fill="var(--text1)"/><path d="M56 380.5c11.2-9.6 13.667-87.5 9-120-1.833-27-15.5-73.6-19.5-86-5-15.5 7-53.5-39.5-71.5-5.971-2.311-3.5-26-5-33s18.4-12 26.711-25.297c5.634-9.014 39-19 59-13s36.5 37.5 39 46S141 141 189.5 160c31.876 12.487 130.5 132.5 164 220.5 67.667-3 203-5.6 203 8 0 17-207.941 9.126-218.5 14-13 6-144.5-4.5-160.5 0-12.8 3.6-48.667-74.833-65-114.5-.333 35.5-10.5 103.3-18.5 114.5-8 11.2-29 6-48.5 6-1.166-5.333-.7-18.4 10.5-28z" stroke="var(--text1)"/><path d="M44 1.5L55.5 39 86 41.5S90 32 83.5 25C79.92 21.145 57.667 6.333 44 1.5z" stroke="var(--text1)"/><path d="M33.5 53.5L31 49c-2.4-.4-4.5 5-2.5 7l5-2.5z" fill="var(--brand)"/></svg>
  </div>
  <div class="stack -layout-xl">

  <FurtherQuestions></FurtherQuestions>

  <nav class="footer-container">
    <ul class="list-reset -layout-m">
      {NavItemsLeft.map(item => (
        <li><a href={item.url}>{item.name}</a></li>
      ))}
    </ul>
    <ul class="list-reset -layout-m">
      {NavItemsRight.map(item => (
        <li><a href={item.url}>{item.name}</a></li>
      ))}
    </ul>
  </nav>
  </div>
  </div>

</footer>
