---
import "../styles/global.scss";
const { title = 'Joshuas eigene Seite', description = "Das ist meine Seite für Portfolio, Gedanken und Zahlen. Schön, dass du da bist.", canonical } = Astro.props;
---
<meta charset="UTF-8">
<title>{title}</title>
<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={description} >
<meta name="theme-color" content="#F50062">
<meta name="theme-color" content="#F50062" media="(prefers-color-scheme: dark)">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonical} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content="https://astro.build/social.jpg?v=1" /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonical} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<!-- <meta property="twitter:image" content="https://astro.build/social.jpg?v=1" /> -->

<!-- Links -->
<link rel="canonical" href={canonical}>
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="icon" type="image/png" href="/favicon.png">


<link rel="preload" href="/fonts/WorkSans[wght].ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/MDIO0.4-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
