---
const {projects} = Astro.props;
---
<ul class="list-reset stack -layout-xl">
{projects.map((project, projectIndex) => (
    <li class="stack">
        <article class="stack -layout-3xs">
          <a href={`/projekte/detail/${project.slug}`}><h3 class="typo-xl -medium">
          {project.title}
          </h3></a>
          <div class="cluster typo-s"><span>{project.year}</span> - <a href={project.link} target="_blank" rel="noopener noreferrer" data-external>{project.link}</a>
          </div>
          <p>{project.description}</p>
        </article>
      {projectIndex !== projects.length - 1 && (<hr />)}
    </li>
      ))}

</ul>
