---
import IconPageLink from "./icons/Icon-PageLink.astro"
import {Navigation} from "@/config/index.ts";
const {projects} = Astro.props;
---
<ul class="list-reset stack -layout-xl">
{projects.map((project, projectIndex) => (
    <li class="stack">
        <article class="stack -layout-3xs">
          <a href={`${Navigation.projectDetails.url}/${project.slug}`}><h3 class="typo-xl -bold font-headline">
          {project.title}
          </h3></a>
          <div class="cluster typo-sm -layout-sm"><time datetime={project.year} class="-bold">{project.year}</time> - <a href={project.link} target="_blank" rel="noopener noreferrer" data-external>{project.link}</a>
          </div>
          <p>{project.description}</p>
        </article>
      {projectIndex !== projects.length - 1 && (<hr />)}
    </li>
      ))}
</ul>
<div class="cluster extra-links standout-box" data-aside>
      <a href={Navigation.projects.url} class="link-with-icon">
      <IconPageLink></IconPageLink>All Projects</a>
      <a href="https://github.com/JSHSJ" target="_blank" rel="noopener noreferrer" class="link-with-icon"><IconPageLink></IconPageLink><span>GitHub</span></a>
      <a href="https://sr.ht/~jshsj/" target="_blank" rel="noopener noreferrer" class="link-with-icon"><IconPageLink></IconPageLink><span>sourcehut</span></a>
      <a href="https://gitlab.com/JSHSJ" target="_blank" rel="noopener noreferrer" class="link-with-icon"><IconPageLink></IconPageLink><span>GitLab</span></a>
    </div>
