---
interface Props {
  tags: string[];
  tagName: string;
  tagRootUrl: string;
  selected: string;
  hasPagination: boolean;
  hasReset?: boolean;
}
const {tags, tagName, tagRootUrl, selected, hasPagination, hasReset} = Astro.props;
---

<style>
  .filter-title {
    font-family: var(--font-family-mono);
  color: var(--color-text-1);
  display: block;
  font-size: var(--font-size-base);
  }
</style>

<div class="stack -layout-sm | tagFilter" data-filter>
<p class="filter-title">
<span>
 Filter by
</span>
<span>{tagName}</span></p>
<ul class="list-reset cluster">
  {hasReset && <li><a class={`CTA-button -secondary -small${selected ? '': ' -active'}`} href={`${tagRootUrl}${hasPagination ? "1" : ''}`} aria-current={!selected} data-translate="general.all">
  all
  </a></li>}
  {tags.map(tag => (
    <li>
      <a class={`CTA-button -secondary -small${tag.toLowerCase() === selected.toLowerCase() ? ' -active': ''}`} href={`${tagRootUrl}${tag.toLowerCase()}${hasPagination ? "/1" : ''}`} aria-current={tag.toLowerCase() === selected.toLowerCase()}>{tag}</a>
    </li>
  ))}
</ul>
</div>
