---
import { getTranslation } from "@/intl/getTranslation"
import DE from "@/public/translations/de.json"
interface Props {
  tags: string[];
  tagName: string;
  tagRootUrl: string;
  selected: string;
  hasPagination: boolean;
  hasReset?: boolean;
}
const {tags, tagName, tagRootUrl, selected, hasPagination, hasReset} = Astro.props;
---

<style>
  .tagFilter {
    @media screen and (min-width: 1560px) {
      grid-column-start: 2 !important;
      grid-column-end: 3 !important;
      grid-row-start: 2 !important;
      grid-row-end: 5 !important;
    }
  }
</style>

<div class="stack -layout-s | tagFilter" data-filter>
<p class="-medium">
<span data-translate="general.filterBy">
 {getTranslation('general.filterBy', DE)}
</span>
<span data-translate={tagName}>{getTranslation(tagName, DE)}</span></p>
<ul class="list-reset cluster">
  {hasReset && <li><a class={`CTA-button -secondary -small${selected ? '': ' -active'}`} href={`${tagRootUrl}${hasPagination ? "1" : ''}`} aria-current={!selected} data-translate="general.all">
  {getTranslation('general.all', DE)}
  </a></li>}
  {tags.map(tag => (
    <li>
      <a class={`CTA-button -secondary -small${tag.toLowerCase() === selected.toLowerCase() ? ' -active': ''}`} href={`${tagRootUrl}${tag.toLowerCase()}${hasPagination ? "/1" : ''}`} aria-current={tag.toLowerCase() === selected.toLowerCase()}>{tag}</a>
    </li>
  ))}
</ul>
</div>
