---
import type { BlogPost } from '@/types/Blog.type'
import {Navigation} from "@/config/index";
import { slugify} from "@/utils/slugify"
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import SidebarNav from "@/components/SidebarNav.astro";

export async function getStaticPaths() {
  const allBlogPosts = await Astro.glob<BlogPost>("/src/content/Blog/*.md");

  const blogWithSlugs = await Promise.all(allBlogPosts.map(async (bp) => ({
    ...bp.frontmatter,
    Content: bp.Content,
    headers: await bp.getHeadings(),
    slug: slugify(bp.frontmatter.title),
  })))

  return blogWithSlugs.map(blogpost => {
    return {
      params: {postslug: blogpost.slug},
      props: { blogpost }
    }
  })
}

const {pathname} = Astro.site;
const {blogpost} = Astro.props;

const { Content, headers } = blogpost;

const blogpostCrumbs = [
  {url: Navigation.blogStart.url, name: Navigation.blogStart.name},
  {name: blogpost.title,
  url: pathname}
]
---
<style>
dl {
  padding-block: var(--size-relative-md);
  border-top: var(--border-thin) solid var(--color-text-1);
  border-bottom: var(--border-thin) solid var(--color-text-1);
}
</style>


<DefaultLayout title={blogpost.title} description={`${blogpost.title} - ${blogpost.tags.join(', ')}`} canonical={new URL(Astro.url.pathname, Astro.site)}>
<div class="layout-container mt-header">
  <SidebarNav headers={headers}></SidebarNav>
  <div class="stack -layout-xl">
  <div>
    <Breadcrumbs crumbs={blogpostCrumbs}></Breadcrumbs>
    <h2 class="typo-hollow typo-3xl -bold -with-dot -dot-top" data-aside>
    <span>
    {blogpost.title}
    </span>
    </h2>
    </div>
    <div class="flow -layout-reset">
      <Content />
</div>
    </div>
</div>
</DefaultLayout>
