---
import type { Project } from '@/types/Project.type';
import {Navigation} from "@/config/index.ts";

import { slugify} from "@/utils/slugify.ts"
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import SidebarNav from "@/components/SidebarNav.astro";

export async function getStaticPaths() {
  const allProjects = await Astro.glob<Project>("/src/content/Projekte/*.md");
  const projectsWithSlugs = await Promise.all(allProjects.map(async (p) => ({
    ...p,
    ...p.frontmatter,
    headers: await p.getHeaders(),
    slug: slugify(p.frontmatter.title),
  })))

  return projectsWithSlugs.map(project => {
    return {
      params: {projectslug: project.slug},
      props: { project }
    }
  })
}

const { pathname } = Astro.site;
const { project } = Astro.props

const { Content, headers } = project;


const projectCrumbs = [
  Navigation.projects,
  {name: project.title,
  url: pathname}
]
---
<style>
dl {
  padding-block: var(--size-md);
  border-top: var(--border-thin) solid var(--text1);
  border-bottom: var(--border-thin) solid var(--text1);
}
</style>


<DefaultLayout title={project.title} description={project.description} canonical={Astro.canonicalURL}>
<div class="layout-container mt-header">
  <SidebarNav headers={headers}></SidebarNav>
  <div class="stack -layout-xl">
  <div>
    <Breadcrumbs crumbs={projectCrumbs}></Breadcrumbs>
    <h2 class="typo-hollow typo-3xl -bold -with-dot -dot-top" data-aside>
    <span>
    {project.title}
    </span>
    </h2>
    </div>
    <dl>
      <dt>Beschreibung: </dt>
      <dd>
      {project.description}
      </dd>
      <dt>Tech Stack: </dt>
      <dd>
      {project.techstack}
      </dd>
      <dt>Link: </dt>
      <dd>
      <a href={project.link} target="_blank" rel="noopener norefferer">{project.link}</a>
      </dd>
      <dt>Jahr: </dt>
      <dd>{project.year}</dd>
    </dl>
    <div class="flow">
      <Content />



</div>
    </div>
</div>
</DefaultLayout>
