---
import type { BlogPost } from '@/types/Blog.type'
import {Navigation} from "@/config/index.ts";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import BlogList from "@/components/BlogList.astro"
import Pagination from "@/components/Pagination.astro"
import TagFilter from "@/components/TagFilter.astro"
import { slugify } from '@/utils/slugify.ts';
import { sortByDateDesc } from '@/utils/sortByDate';
import { getTranslation } from "@/intl/getTranslation"
import DE from "@/public/translations/de.json"


export async function getStaticPaths({paginate}) {
const title = "Joshuas Gedanken"
const description = "Gedanken, Workflows und Ideen. Einfach Dinge, über die ich schreiben möchte."
const currentRoute = Navigation.blogRoot.url

const allBlogPosts = await Astro.glob<BlogPost>("/src/content/Blog/*.md");

// ALL Posts formatted
const formattedBlogposts = allBlogPosts.map(project => ({
    ...project.frontmatter,
    slug: slugify(project.frontmatter.title),
})).sort(sortByDateDesc)

// Create array for all keys
const allLangs = Array.from(new Set(allBlogPosts
.map(blog => blog.frontmatter.lang)
.reduce((allLangs, lang) => allLangs.concat(lang), [])))

return allLangs.map(lang => {
  const postsByLang = formattedBlogposts.filter(bp => bp.lang === lang);
  return paginate(postsByLang, {
    params: { lang },
    pageSize: 10,
    props: {
      currentLang: lang,
      allLangs,
      currentRoute,
      title,
      description
    }
  })
})
}

const {page, currentLang, allLangs, currentRoute, title, description} = Astro.props;

---
<head>
  {page.url.prev && <link rel="prev" href={page.url.prev} />}
  {page.url.next && <link rel="next" href={page.url.next} />}

  <link
    rel="alternate"
    type="application/rss+xml"
    title={'title' + ' | RSS Feed'}
    href="/feed/blog.xml"
  />

</head>

<DefaultLayout title={`${title} nach Sprache: ${currentLang}`} description={description} canonical={new URL(Astro.url.pathname, Astro.site)}>
<div class="section layout-container blog-layout | mt-header">
     <h1 class="section-title -with-dot -dot-top" data-translate="blog.headline">
      {getTranslation('blog.headline', DE)}
    </h1>
    <TagFilter hasReset={true} tags={allLangs.map(lang => lang.toLowerCase())} tagName="Sprache" tagRootUrl="/blog/" selected={currentLang} hasPagination={true} />

    <BlogList blogPosts={page.data}></BlogList>
    <Pagination current={page.currentPage} last={page.lastPage} next={page.url.next} prev={page.url.prev} basePath={currentRoute}></Pagination>

    <div class="note -info flow w-full" data-translate="blog.getNotified">
    <p>{getTranslation('blog.getNotified', DE)}</p>
    <p><a href="/feed/blog.xml">RSS Feed</a></p>
    </div>


</div>
</DefaultLayout>


